version: '3.9'

services:
  vue-app:
    build: .
    container_name: vue_app
    ports:
      - "5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev -- --host
    networks:
      - laravel-net

networks:
  laravel-net:
    external: true