body {
    margin: 0;
    background-color: #121212;
    font-family: sans-serif;
    color: white;
}

.enviar {
    width: 100%;
    padding: 12px;
    background-color: #7c9b29;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #6d8a24;
}