.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.botaoPadrao {
  padding: 1rem;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  font-weight: 200;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-size: 1.2rem;
}

button:hover{
  filter: brightness(1.3);
  transition: 0.3s;
}

.input-busca {
    margin: 15px 0;
    padding: 100px;
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    background-color: #2b2b2b;
    color: #f0f0f0;
    font-size: 1.1rem;
}

.input-busca:hover , .input-busca:focus{
    box-shadow: 0 0 6px white;
    transform: brightness(1.5);
    outline: none;
    transition: 100ms;
}

textarea{
  resize: none;
}